html {
  height: 100%;
  width: 100%;
  text-align: center;
}
.form-control{
  width: 60vw !important;
  margin-left: 20vw !important;
    
}

body {
  background-color: #a3b18a !important; 
  
}
label{
  font-size: 25px !important;
}
navbar{
  background-color: #588157 !important;
}
#studentid{
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-color:transparent !important;
  outline:none !important;
  border:#a3b18a  !important;
   background-color: #a3b18a !important; 
}
form{
  font-family: "Times New Roman", Times, serif !important;
}
#gif{
    width: 200px;
    height: auto;
  margin-left: auto;
  float: right;
}
